# Python Modules - Complete Guide for Data Analytics Students

## Table of Contents
1. [Introduction to Modules](#introduction-to-modules)
2. [Project Structure & Module Organization](#project-structure--module-organization)
3. [Importing Modules](#importing-modules)
4. [Built-in Modules](#built-in-modules)
5. [Math Module](#math-module)
6. [Random Module](#random-module)
7. [Faker Module](#faker-module)
8. [Practical Examples](#practical-examples)
9. [Best Practices](#best-practices)
10. [Practice Problems](#practice-problems)

---

## Introduction to Modules

### What is a Module?

**A module in Python is:**
- A combination of **variables**, **functions**, and **classes** present within a Python file
- Any Python file with `.py` extension
- A Python script that can be reused in other programs
- A way to organize and structure code logically

### Why Use Modules?

✅ **Code Reusability** - Write once, use multiple times  
✅ **Organization** - Keep related code together  
✅ **Namespace Management** - Avoid naming conflicts  
✅ **Maintainability** - Easier to debug and update  
✅ **Collaboration** - Multiple developers can work on different modules

---

## Project Structure & Module Organization

### Basic Project Structure

```
MyProject/
│
├── __pycache__/          # Compiled Python files (auto-generated)
│   └── *.pyc             # Bytecode files for faster loading
│
├── calculate.py          # Module with calculation functions
├── test.py               # Main file or test file
└── maindeveloper.py      # Main application file
```

### Multi-Module Project Structure

```
ProjectStructure/
│
├── maindeveloper.py      # Main application (imports other modules)
├── dev1.py               # Module by developer 1
├── dev2.py               # Module by developer 2
├── dev3.py               # Module by developer 3
│
└── __pycache__/          # Compiled files directory
    ├── dev1.cpython-39.pyc
    ├── dev2.cpython-39.pyc
    └── dev3.cpython-39.pyc
```

### Understanding __pycache__ and .pyc Files

- **`__pycache__`**: Directory created automatically by Python
- **`.pyc` files**: Compiled bytecode files (faster execution)
- These are **auto-generated** - no need to create manually
- Safe to delete (Python will regenerate them)

---

## Importing Modules

### Import Syntax Options

#### 1. Basic Import
```python
import modulename

# Usage
modulename.function_name()
modulename.variable_name
```

**Example:**

In [1]:
import math
print(math.sqrt(16))  # Output: 4.0

4.0

#### 2. Multiple Module Import
```python
import module1, module2, module3

# Usage
module1.function1()
module2.function2()
```

**Example:**

In [2]:
import math, random, os
print(math.pi)
print(random.randint(1, 10))

3.141592653589793
10

#### 3. Import with Alias (Recommended for long names)
```python
import module1 as m1, module2 as m2

# Usage
m1.function_name()
m2.function_name()
```

**Example:**

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.DataFrame()  # Short and clean!

#### 4. Import Specific Members
```python
from module1 import function1, variable1

# Usage - No need to use module name
function1()
print(variable1)
```

**Example:**

In [4]:
from math import sqrt, pi, factorial

print(sqrt(25))      # Output: 5.0
print(factorial(5))  # Output: 120

5.0
120

#### 5. Import All Members (Use with Caution!)
```python
from module1 import *

# All functions/variables available directly
```

**Example:**

In [5]:
from math import *

print(sqrt(16))
print(factorial(5))
print(ceil(4.2))

4.0
120
5

⚠️ **Warning:** Using `import *` can lead to naming conflicts. Use it only when you're sure about the module contents.

#### 6. Import with Aliases for Specific Members
```python
from module1 import member1 as m1, member2 as m2

# Usage
m1()
m2()
```

**Example:**

In [6]:
from datetime import datetime as dt, timedelta as td

now = dt.now()
tomorrow = now + td(days=1)

---

## Built-in Modules

Python comes with a rich standard library. Here are essential modules for data analytics:

### Common Built-in Modules

| Module | Purpose | Data Analytics Use |
|--------|---------|-------------------|
| `math` | Mathematical functions | Statistical calculations |
| `random` | Random number generation | Sampling, simulation |
| `statistics` | Statistical functions | Mean, median, stdev |
| `datetime` | Date and time operations | Time series analysis |
| `csv` | CSV file handling | Data import/export |
| `json` | JSON data handling | API data processing |
| `os` | Operating system interface | File operations |
| `sys` | System-specific parameters | Script configuration |
| `re` | Regular expressions | Text processing |
| `collections` | Specialized containers | Data structures |

---
## Math Module

The `math` module provides mathematical functions for numeric operations.

### Key Functions

#### 1. `factorial(n)` - Calculate factorial

In [1]:
from math import factorial

print(factorial(4))  # Output: 24 (4! = 4×3×2×1)
print(factorial(5))  # Output: 120
print(factorial(0))  # Output: 1 (0! = 1)

24
120
1

**Use Case:** Combinatorics, probability calculations

#### 2. `sqrt(x)` - Square root

In [2]:
from math import sqrt

print(sqrt(9))    # Output: 3.0
print(sqrt(16))   # Output: 4.0
print(sqrt(2))    # Output: 1.4142135623730951

3.0
4.0
1.4142135623730951

**Use Case:** Standard deviation, distance calculations

#### 3. `ceil(x)` - Round up to nearest integer

In [9]:
from math import ceil

print(ceil(10.1))  # Output: 11
print(ceil(10.9))  # Output: 11
print(ceil(-10.1)) # Output: -10

11
11
-10

**Use Case:** Compound interest, growth rate calculations

### Complete Math Module Example

In [10]:
from math import *

print(f"Factorial of 4: {factorial(4)}")          # 24
print(f"Square root of 9: {sqrt(9)}")             # 3.0
print(f"Floor of 10.9: {floor(10.9)}")            # 10
print(f"Ceiling of 10.1: {ceil(10.1)}")           # 11
print(f"Absolute of -10.9: {fabs(-10.9)}")        # 10.9
print(f"Product of [1,2,3,4]: {prod([1,2,3,4])}") # 24
print(f"Pi value: {pi}")                          # 3.14159...
print(f"Euler's number: {e}")                     # 2.71828...

Factorial of 4: 24
Square root of 9: 3.0
Floor of 10.9: 10
Ceiling of 10.1: 11
Absolute of -10.9: 10.9
Product of [1,2,3,4]: 24
Pi value: 3.141592653589793
Euler's number: 2.718281828459045

## Practical Examples

### Example 1: Generate 6-Digit OTP

**Problem:** Generate a random 6-digit OTP for user authentication.

In [11]:
from random import randint

def generate_otp():
    """Generate a 6-digit OTP"""
    otp = ''
    for i in range(6):
        otp += str(randint(0, 9))
    return otp

# Generate OTP
otp_code = generate_otp()
print(f'Your OTP is: {otp_code}')
# Output: Your OTP is: 742851 (example)

Your OTP is: 298962

### Example 2: Generate Random Password

**Problem:** Generate an 8-character password where:
- Positions 1, 3, 5, 7: Alphabets (A-Z, a-z)
- Positions 2, 4, 6, 8: Digits (0-9)

In [12]:
from random import randint

def generate_password():
    """Generate 8-character password with alternating letters and digits"""
    password = ""
    
    for i in range(0, 7, 2):  # 0, 2, 4, 6
        # Add random lowercase letter (ASCII 97-122)
        password += chr(randint(97, 122))
        # Add random digit
        password += str(randint(0, 9))
    
    return password

# Generate password
pwd = generate_password()
print(f'Your password is: {pwd}')
# Output: Your password is: a7k3m9p2 (example)

Your password is: t4k9g8z2

## Summary & Key Takeaways

### ✅ Remember These Key Points:

1. **Modules** = Reusable Python files (.py)
2. **Import wisely** - Use aliases for readability
3. **math module** - For mathematical operations
4. **random module** - For simulations and sampling
5. **faker module** - For realistic test data
6. **Set random seed** for reproducible results
7. **Document functions** for better collaboration

---

## Additional Resources

### Useful Modules for Data Analytics

| Module | Purpose | Installation |
|--------|---------|--------------|
| `pandas` | Data manipulation | `pip install pandas` |
| `numpy` | Numerical computing | `pip install numpy` |
| `matplotlib` | Data visualization | `pip install matplotlib` |
| `seaborn` | Statistical visualization | `pip install seaborn` |
| `scikit-learn` | Machine learning | `pip install scikit-learn` |
| `faker` | Fake data generation | `pip install faker` |

### Quick Reference

```python
# Import patterns
import module                          # Basic
import module as alias                 # With alias
from module import function            # Specific import
from module import *                   # All (use carefully)

# Math operations
math.sqrt(x), math.factorial(n), math.ceil(x), math.floor(x)

# Random operations
random.randint(a, b), random.choice(seq), random.sample(seq, k)

# Faker operations
fake.name(), fake.email(), fake.address(), fake.city()
```

---

In [2]:
import pandas as pd

In [ ]:
from faker import Faker
import random

# create a employee database using python
# 1) Employee_name
# 2) Salary (20000 - 200000)
# 3) Employee_Designantion -  ['Intern', 'Junior dev', 'Senior dev', 'Manager', 'Sr manager','Product manager']
# 4) Ph_no (10 digits 6-9) (8618042684)
# 5) city
# 6) nationality
# 8) Email
# 9) company_name

fake = Faker()

Name = []
Salary = []
Employee_Designantion = []
Ph_no = []
city = [] 
Nationality = [] 
Email = [] 
company_name = [] 

for i in range(10):
    Name.append(fake.name())
    Salary.append(random.randint(20000, 200000))
    Employee_Designantion.append(random.choice(['Intern', 'Junior dev', 'Senior dev', 'Manager', 'Sr manager','Product manager']))
    Ph_no.append(random.randint(6000000000,9999999999 ))
    city.append(fake.city())
    Email.append(fake.email())
    company_name.append(fake.company())


for i in range(10):
    print(f'Name: {Name[i]}')
    print(f'Employee Designantion: {Employee_Designantion[i]}')
    print(f'Email: {Email[i]}')
    print(f'company_name: {company_name[i]}')
    print(f'Phone No: {Ph_no[i]}')
    print(f'Salary: {Salary[i]}')
    print(f'city: {city[i]}')
    print("*"*100)

    fake.cellphone_number

Name: Robert Walls
Employee Designantion: Intern
Email: ugarcia@example.com
company_name: Holder LLC
Phone No: 8236288047
Salary: 177854
city: West Howardport
****************************************************************************************************
Name: Kelly Torres
Employee Designantion: Senior dev
Email: rileyamanda@example.net
company_name: Holmes-Espinoza
Phone No: 9226668812
Salary: 92435
city: West Danielberg
****************************************************************************************************
Name: Barbara Ferguson
Employee Designantion: Product manager
Email: wagnermckenzie@example.com
company_name: Taylor, Johnson and Rodriguez
Phone No: 7886220779
Salary: 57453
city: Johnnyhaven
****************************************************************************************************
Name: Steven Deleon
Employee Designantion: Manager
Email: sarah67@example.net
company_name: Vasquez, Joseph and Bray
Phone No: 6828490626
Salary: 44160
city: Nicolebury
****************************************************************************************************
Name: Andrew Chandler
Employee Designantion: Product manager
Email: melissa22@example.org
company_name: Reeves, Morse and Jackson
Phone No: 7382224547
Salary: 194613
city: Port Crystal
****************************************************************************************************
Name: Katherine Mason
Employee Designantion: Senior dev
Email: calvarado@example.org
company_name: Huynh Ltd
Phone No: 6760610498
Salary: 171366
city: Rebeccaville
****************************************************************************************************
Name: Mrs. Patricia Barnes
Employee Designantion: Junior dev
Email: garciaconnie@example.org
company_name: Rose-Barker
Phone No: 8153793345
Salary: 38491
city: North Wanda
****************************************************************************************************
Name: Sydney Davis DVM
Employee Designantion: Senior dev
Email: kristy51@example.org
company_name: Howard, George and Daniels
Phone No: 7802661468
Salary: 94373
city: Port Mollyfort
****************************************************************************************************
Name: Connie Meyer
Employee Designantion: Intern
Email: ehoward@example.com
company_name: Kirk, Ruiz and Underwood
Phone No: 8423998864
Salary: 124896
city: Port Charlesstad
****************************************************************************************************
Name: Keith Robertson
Employee Designantion: Product manager
Email: johnsonjulie@example.com
company_name: Eaton, Harrell and Jones
Phone No: 6647820754
Salary: 87399
city: Lake Kellie
****************************************************************************************************

In [4]:
pd.DataFrame({"Name":Name,
"Salary":Salary,
"Employee_Designantion":Employee_Designantion,
"Ph_no":Ph_no,
"city":city,
"Email":Email, 
"company_name":company_name})

,Name,Salary,Employee_Designantion,Ph_no,city,Email,company_name
0,Robert Walls,177854,Intern,8236288047,West Howardport,ugarcia@example.com,Holder LLC
1,Kelly Torres,92435,Senior dev,9226668812,West Danielberg,rileyamanda@example.net,Holmes-Espinoza
2,Barbara Ferguson,57453,Product manager,7886220779,Johnnyhaven,wagnermckenzie@example.com,"Taylor, Johnson and Rodriguez"
3,Steven Deleon,44160,Manager,6828490626,Nicolebury,sarah67@example.net,"Vasquez, Joseph and Bray"
4,Andrew Chandler,194613,Product manager,7382224547,Port Crystal,melissa22@example.org,"Reeves, Morse and Jackson"
5,Katherine Mason,171366,Senior dev,6760610498,Rebeccaville,calvarado@example.org,Huynh Ltd
6,Mrs. Patricia Barnes,38491,Junior dev,8153793345,North Wanda,garciaconnie@example.org,Rose-Barker
7,Sydney Davis DVM,94373,Senior dev,7802661468,Port Mollyfort,kristy51@example.org,"Howard, George and Daniels"
8,Connie Meyer,124896,Intern,8423998864,Port Charlesstad,ehoward@example.com,"Kirk, Ruiz and Underwood"
9,Keith Robertson,87399,Product manager,6647820754,Lake Kellie,johnsonjulie@example.com,"Eaton, Harrell and Jones"