# Advanced Data Types in Python - Lists

### Table of Contents
1. Introduction to Lists
2. Creating Lists
3. Accessing Elements
4. Modifying Lists
5. Nested Lists
6. List Slicing
7. Examples and Applications

## Introduction to Lists
### What is a List?
- An **ordered collection** of data elements.
- Supports both **homogeneous** and **heterogeneous** data.
- Allows duplicate values.
- Uses **square brackets `[]`** for representation.
- Elements are accessed using **indices**.

In [16]:
# Example of an empty list
# my_list = []
my_list = list()
print(my_list)  # Output: []

[]

In [17]:
# Example of a heterogeneous list
mixed_list = [1, "hello", True, None,2,4,6,8]
print(mixed_list)

[1, 'hello', True, None, 2, 4, 6, 8]

## Creating Lists

### Empty List

In [ ]:
empty_list = []
print(empty_list)

### Using `list()` Constructor

In [ ]:
range_list = list(range(10))
print(range_list)  # Output: [0, 1, 2, ..., 9]

## Accessing Elements

### Positive Indexing

In [18]:
my_list = [1, 2, 3, 4, 5]
print(my_list[2])  # Output: 3

3

### Negative Indexing

In [19]:
print(my_list[-1])  # Output: 5
print(my_list[-3])  # Output: 3

5
3

### Slicing

In [ ]:
print(my_list[1:4])  # Output: [2, 3, 4]
print(my_list[:3])   # Output: [1, 2, 3]
print(my_list[3:])  # Output: [4, 5]

 ## Modifying Lists

### Mutable Nature

In [20]:
my_list = [1, 2, 3, 4, 5]
my_list[2] = 6
print(my_list)  # Output: [1, 2, 6, 4, 5]

[1, 2, 6, 4, 5]

### Appending Elements

In [ ]:
my_list.append(7)
print(my_list)  # Output: [1, 2, 6, 4, 5, 7]

another_list = [8, 9]
my_list.extend(another_list)
print(my_list)  # Output: [1, 2, 6, 4, 5, 7, 8, 9]

In [21]:
my_list.pop()
my_list

[1, 2, 6, 4]

In [22]:
my_list.remove(2)
my_list

[1, 6, 4]

In [24]:
lst = [2,4,76,9,5,89,2,5,6]
lst.sort()
lst

[2, 2, 4, 5, 5, 6, 9, 76, 89]

In [25]:
lst = [2,4,76,9,5,89,2,5,6]
lst.sort(reverse=True)
lst

[89, 76, 9, 6, 5, 5, 4, 2, 2]

In [26]:
lst = [2,4,76,9,5,89,2,5,6]
lst.reverse()
lst

[6, 5, 2, 89, 5, 9, 76, 4, 2]

In [ ]:
lst.clear()

In [28]:
lst

[]

In [29]:
del lst
lst

NameError: name 'lst' is not defined

## Nested Lists

### Example of Nested Lists

In [32]:
nested_list = [ [1, 2, 3], [4, 5, 6] ,7,8,9]
print(nested_list)  # Output: [[1, 2, 3], [4, 5, 6]]

[[1, 2, 3], [4, 5, 6], 7, 8, 9]

In [31]:
nested_list[1][1]

5

In [33]:
nested_list[3]

8

## List Slicing

### Example of List Slicing

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list[::2])  # Output: [1, 3, 5]

## Examples and Applications

### Example 1: Using Lists to Store Grades

In [ ]:
grades = [85, 90, 95]
print(grades)  # Output: [85, 90, 95]

### Example 2: Modifying a List

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list[2] = 10
print(my_list)  # Output: [1, 2, 10, 4, 5]

### Example 3: Slicing and Modifying

In [ ]:
my_list = [1, 2, 3, 4, 5]
sliced_list = my_list[2:4]
print(sliced_list)  # Output: [3, 4]