In [1]:
import sqlite3
from faker import Faker

fake = Faker()

In [2]:
conn = sqlite3.connect('grocery_store.db')
c = conn.cursor()

In [3]:
c.execute("""
    CREATE TABLE customers (
        id INTEGER PRIMARY KEY,
        name TEXT,
        favorite_product TEXT
    )  """)

OperationalError: table customers already exists

In [4]:
c.fetchone()

In [5]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
c.fetchall()

[('customers',)]

In [6]:
res = c.execute("SELECT * FROM customers")
res.fetchall()

[]

In [7]:
c.execute(""" INSERT into customers Values(?,?,?)""", ('1','subbu','oreo'))

In [8]:
c.execute(""" INSERT into customers Values(?,?,?)""", ('2','kiran','chocolate'))

In [9]:
res = c.execute("SELECT * FROM customers")
res.fetchall()

[(1, 'subbu', 'oreo'), (2, 'kiran', 'chocolate')]

In [6]:
# CRUD operations
def create_customer(id, name, favorite_product):
    c.execute("INSERT INTO customers VALUES (?, ?, ?)", (id, name, favorite_product))

def read_customer(id):
    c.execute("SELECT * FROM customers WHERE id=?", (id,))
    return c.fetchone()

def update_customer(id, name, favorite_product):
    c.execute("UPDATE customers SET name=?, favorite_product=? WHERE id=?", (name, favorite_product, id))

def delete_customer(id):
    c.execute("DELETE FROM customers WHERE id=?", (id,))

In [ ]:
# pip install faker

Requirement already satisfied: faker in c:\users\v-maheshkur\appdata\local\programs\python\python313\lib\site-packages (37.5.3)
Requirement already satisfied: tzdata in c:\users\v-maheshkur\appdata\local\programs\python\python313\lib\site-packages (from faker) (2025.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
fake.name()

'Michael Potter'

In [ ]:
import random

# List of sample products
products = [
    "Laptop", "Smartphone", "Tablet", "Smartwatch", "Camera",
    "Headphones", "Bluetooth Speaker", "Gaming Console", "Monitor", "Keyboard",
    "Mouse", "Printer", "Router", "Drone", "Fitness Tracker",
    "Power Bank", "VR Headset", "TV", "Microphone", "Smart Home Hub"
]

# Generate and insert 20 dummy records
for i in range(3, 30):
    name = fake.name()
    favorite_product = random.choice(products)
    create_customer(i, name, favorite_product)

In [8]:
# Display inserted records
c.execute("SELECT * FROM customers")

In [9]:
c.fetchall()

[(3, 'James Bradley', 'Mouse'),
 (4, 'Nicole Hendricks', 'Gaming Console'),
 (5, 'Amanda Fletcher', 'Headphones'),
 (6, 'Dennis Hernandez', 'Smart Home Hub'),
 (7, 'Jared Vazquez', 'Laptop'),
 (8, 'Angela Lowery', 'Drone'),
 (9, 'Brian Montoya', 'Headphones'),
 (10, 'Michael Tyler', 'Power Bank'),
 (11, 'Maria Noble', 'Router'),
 (12, 'Todd Elliott', 'Mouse'),
 (13, 'Charles Knight', 'Smartphone'),
 (14, 'Erik Martin', 'VR Headset'),
 (15, 'Fernando Hahn', 'Headphones'),
 (16, 'Maria Mitchell', 'Tablet'),
 (17, 'Tiffany Tucker', 'Keyboard'),
 (18, 'Aaron Jensen', 'Router'),
 (19, 'John Martinez', 'Smartphone'),
 (20, 'Jason Moore', 'Power Bank'),
 (21, 'Robert Gordon', 'Router'),
 (22, 'Holly Hernandez', 'Camera'),
 (23, 'Matthew Moore', 'Bluetooth Speaker'),
 (24, 'Christine Sullivan', 'Keyboard'),
 (25, 'Roy Johnson', 'Router'),
 (26, 'Bobby Alexander', 'Headphones'),
 (27, 'Linda Mcdonald', 'Tablet'),
 (28, 'Curtis Washington', 'Laptop'),
 (29, 'James Stone', 'Monitor')]

In [13]:
c.execute("SELECT * FROM customers")
c.fetchmany(5)

[(3, 'James Bradley', 'Mouse'),
 (4, 'Nicole Hendricks', 'Gaming Console'),
 (5, 'Amanda Fletcher', 'Headphones'),
 (6, 'Dennis Hernandez', 'Smart Home Hub'),
 (7, 'Jared Vazquez', 'Laptop')]

(5, 'Julie Thompson', 'Mouse')

In [15]:
update_customer('2', 'kiran','potato chips')

In [16]:
c.execute("""SELECT * FROM customers """).fetchall()

[(1, 'subbu', 'oreo'),
 (2, 'kiran', 'potato chips'),
 (3, 'Lauren Fitzgerald', 'VR Headset'),
 (4, 'Linda Howell', 'Smartwatch'),
 (5, 'Julie Thompson', 'Mouse'),
 (6, 'Brenda Thomas', 'Power Bank'),
 (7, 'Sherry Horne', 'Headphones'),
 (8, 'Laura Crawford', 'Smart Home Hub'),
 (9, 'Sarah Martin', 'Microphone'),
 (10, 'Katrina Kennedy', 'Microphone'),
 (11, 'Michael Santiago', 'Router'),
 (12, 'Angela Smith', 'Smartphone'),
 (13, 'Deborah Jimenez', 'Keyboard'),
 (14, 'Beth Dominguez', 'Mouse'),
 (15, 'Julie Gray', 'Headphones'),
 (16, 'Jamie Clark MD', 'Headphones'),
 (17, 'Jacob Willis', 'Tablet'),
 (18, 'William Fox', 'Bluetooth Speaker'),
 (19, 'Joseph Mosley', 'Smart Home Hub'),
 (20, 'Jamie Gomez', 'Power Bank'),
 (21, 'Mary Perkins', 'Smartphone'),
 (22, 'Edward Valdez', 'Smart Home Hub'),
 (23, 'Ana Cohen PhD', 'VR Headset'),
 (24, 'Shawn Mcmillan', 'Gaming Console'),
 (25, 'Raymond Bell', 'Smart Home Hub'),
 (26, 'Erica Knight', 'TV'),
 (27, 'Paige Lam', 'Tablet'),
 (28, 'Gregory Hall', 'Mouse'),
 (29, 'Dennis Cole', 'Keyboard')]

In [16]:
delete_customer('10')

In [17]:
c.execute("""SELECT * FROM customers """).fetchall()

[(3, 'James Bradley', 'Mouse'),
 (4, 'Nicole Hendricks', 'Gaming Console'),
 (5, 'Amanda Fletcher', 'Headphones'),
 (6, 'Dennis Hernandez', 'Smart Home Hub'),
 (7, 'Jared Vazquez', 'Laptop'),
 (8, 'Angela Lowery', 'Drone'),
 (9, 'Brian Montoya', 'Headphones'),
 (11, 'Maria Noble', 'Router'),
 (12, 'Todd Elliott', 'Mouse'),
 (13, 'Charles Knight', 'Smartphone'),
 (14, 'Erik Martin', 'VR Headset'),
 (15, 'Fernando Hahn', 'Headphones'),
 (16, 'Maria Mitchell', 'Tablet'),
 (17, 'Tiffany Tucker', 'Keyboard'),
 (18, 'Aaron Jensen', 'Router'),
 (19, 'John Martinez', 'Smartphone'),
 (20, 'Jason Moore', 'Power Bank'),
 (21, 'Robert Gordon', 'Router'),
 (22, 'Holly Hernandez', 'Camera'),
 (23, 'Matthew Moore', 'Bluetooth Speaker'),
 (24, 'Christine Sullivan', 'Keyboard'),
 (25, 'Roy Johnson', 'Router'),
 (26, 'Bobby Alexander', 'Headphones'),
 (27, 'Linda Mcdonald', 'Tablet'),
 (28, 'Curtis Washington', 'Laptop'),
 (29, 'James Stone', 'Monitor')]

In [ ]:
# c.execute("""DROP Table customers """)

In [ ]:
# c.execute("""SELECT * FROM customers """).fetchall()

In [ ]:
conn.commit()

# Close the connection
c.close()